:root {
    /* COLOR SCHEME */
    --first-color: #505F98 ;
    --second-color: #111B47 ;
    --third-color: #fff;
    --fourth-color: #5D6970;

    /* FONTS */
    --font-family: 'Roboto', sans-serif ;
}

* {
    font-family: var(--font-family);
}

a:hover {
    transform: scale(1.05);
}

body {
    background: url(img/background-img1.png) no-repeat top right;
}
.wrapper {
    display: flex;
    flex-direction: column;
    width: 1440px;
    margin: 0 auto;
    
    height: 1000px;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: 165px;
    margin-right: 165px;
    align-items: center;
    height: 60px;
    margin-bottom: 244px;
    margin-top: 18px;
}

header nav ul {
    display: flex;
    gap: 60px;   
}

ul a {
    color: var(--second-color);
}

header > a{
    color: white;
    background:var(--second-color) ;
    border-radius: 2px;
    width: 160px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12px;
    text-align: center;
}


/* INTRODUCE BLOCK */

.introduce {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 165px;
    width:540px;

}

.introduce h1 {
    font-weight: 500;
    font-size: 50px;
    color: var(--second-color);
    margin-bottom: 20px;
}

.introduce p {
    font-weight: 400;
    font-size: 18px;
    line-height: 167%;
    color: var(--first-color);
    margin-bottom: 68px;
}

.introduce div {
    display: flex;
    flex-direction: row;
    gap: 32px;
}

.introduce div a {
    background-color: var(--second-color);
    padding-top:4px ;
    padding-bottom: 4px;
    width: 192px;
    color: #fff;
    border-radius: 2px;
    text-align: center;
}

.introduce div a+a {
    background-color: #fff;
    color: var(--second-color);
    border: 2px solid var(--second-color);
}

/* Discription Block */

.description {
    margin-left: 165px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 500px;
}

.description_block {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 160px;
    
}

.block_1-text {
    width: 540px;
    margin-top: 52px;
    margin-right: 30px;
}
.description_block h2 {
    font-weight: 500;
    font-size: 36px;
    color: var(--second-color);
    margin-bottom: 16px;
}

.description_block p {
    font-weight: 400;
    font-size: 16px;
    color: var(--first-color);
   
}

.block_1-icon-text {
    display: flex;
    gap: 30px;
    margin-top: 80px;
    
}
.block_1-icon-text div {
    width: 255px;
}

.block_1-icon-text h3 {
    font-weight: 500;
    font-size: 16px;
    color: var(--second-color);
    margin-top: 12px;
    margin-bottom: 6px;
}

.block_1-icon-text p {
    font-weight: 400;
    font-size: 12px;
    color: var(--first-color);
}

.block_2-text {
    width: 445px;
    margin-left: 155px;
    margin-top: 52px;
}

.bloc_2-custom {
    margin-left: 32px;
}

.block_3-text {
    width: 445px;
    margin-left: 125px;
    margin-top: 52px;
}

.block_4-text {
    width: 445px;
    margin-left: 172px;
    margin-top: 52px;
    display: flex;
    flex-direction: column;
}

.block_4-text a {
    color: var(--third-color);
    width: 150px;
    text-align: center;
    padding-top: 4px;
    padding-bottom: 4px;
    background: var(--second-color);
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    margin-top: 40px;
}

.block_4-custom {
    margin-left: 50px;
}

/* OFFER CONTENT */
.offer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url(img/background-img2.png) no-repeat;
}

.offer h4 {
    margin-top: 240px;
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 36px;
    line-height: 133%;
    text-align: center;
    color: var(--second-color);
}

.offer p {
    width: 600px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: var(--first-color);
}

.offer strong {
    margin-top: 36px;
    font-weight: 500;
    font-size: 50px;
    line-height: 132%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--second-color);
}

.offer h5 {
    margin-bottom: 60px;
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: var(--first-color);
}

.offer h5+p {
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--fourth-color);
}

.offer a{
    font-weight: 500;
    font-size: 14px;
    line-height: 171%;
    text-align: center;
    color: var(--third-color);
    width: 192px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: var(--second-color);
    border-radius: 2px;
    margin-top: 12px;
}

footer {
    margin-top: 176px;
    display: flex;
    flex-direction: column;
    padding-right: 165px;
    padding-left: 165px;
    width: 100%;
    box-sizing: border-box;
    background: #E7ECFF;
    padding-top: 60px ;
}

.offer footer p {
    width: 165px;
    color: var(--fourth-color);
}

footer > div {
    display: flex;
    justify-content: space-between;
    align-items:center;
    border-bottom: 2px solid var(--fourth-color);
    padding-bottom: 30px;
}

.offer .footer-link {
    font-weight: 500;
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    color: var(--third-color);
    width: 108px;
    background: var(--second-color);
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 2px;
    margin-top: 0px;
}

footer ul{
    display: flex;
    gap: 60px;
}
.offer footer a{
    color: var(--fourth-color);
    background: none;
    padding: 0;
    margin: 0;
    width: 12px;
    
}
.offer footer .logos {
    gap: 32px;
    justify-content: flex-end;
}

.low-footer {
    margin-top: 20px;
}